{% extends 'base.html' %}
{% block head %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/blog/index">OurShare</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/info">我的主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">我的关注</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">粉丝列表</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/post">MyShare</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<ul>
    {% for item in data %}
    <li>
        <a href="/user/show?username={{ item.username }}&wid={{ item.wid }}">{{ item.title }}</a>
        {{ item.username }}{{ item.lasttime }}
    </li>
    {% else %}
    <p>还没有人发表微博呢</p>
    {% endfor %}
</ul>
{% endblock %}