{% extends 'base.html' %}
{% block head %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/blog/index?page=1">OurShare</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/info">我的主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">我的关注</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">粉丝列表</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/blog/post">MyShare</a>
    </li>
</ul>
{% endblock %}

{% block content %}
{% if msg == '内容不能为空' %}
<div class="alert alert-primary">
    {{ msg }}
</div>
{% endif %}
{% if op %}
<form action="/blog/modify" method='POST'>
    <div class="form-group">
        <input type="hidden" name='wid' value="{{ blog.wid }}">
    </div>
    <div class="form-group">
        <div>
            <label>内容</label>
            <a href=""><button class="btn btn-outline-warning">返回</button></a>
        </div>
        <textarea class="form-control" name='content' cols="30" rows="10">{{ blog.content }}</textarea>
        <input type="hidden" name='lasttime' value="{{ blog.lasttime }}">
    </div>
    <div style="float: right;">
        <input type="submit" class="btn btn-outline-success" value="完成修改">
    </div>
</form>
{% else %}
<form action="/blog/post" method='POST'>
    <div class="form-group">
    </div>
    <div class="form-group">
        <label>内容</label>
        <textarea name='content' class="form-control" cols="30" rows="10" placeholder="分享新鲜事..."></textarea>
    </div>
    <div style="float: left;">
        <a href="/user/info"><button class="btn btn-outline-warning">返回</button></a>
    </div>
    <div style="float: right;">
        <input type="submit" class="btn btn-outline-primary" value="发布">
    </div>
</form>
{% endif %}
{% endblock %}