{% extends 'base.html' %}
{% block head %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item ">
        <a class="nav-link" href="/blog/index">OurShare</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/user/info">我的主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">我的关注</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">粉丝列表</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/post">MyShare</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div style="padding: 50px;">
    <div id='个人信息' style="float: left;width: 400px;">
        <table>
            <tr><td align="center">
                {% if user.photo != '0' %}
                <img style="width: 200px;height:200px;border-radius: 100px;" src="{{ user.photo }}">
                {% else %}
                <img style="width: 200px;height:200px;border-radius: 100px;" src="static/img/default">
                {% endif %}
            </td></tr>
            <tr><td align="center">
                <a href="/user/modify?wid={{ blogs.wid }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0
                         1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023
                          1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1
                           .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464
                            0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1
                             2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464
                              1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464
                               1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464
                                1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z" />
                    </svg>
                </a>
            </td></tr>
            <tr><td>这里放个人信息</td></tr>
        </table>   
    </div>
    <div id='最近更新' style="float: left;width: 400px;">
        <ul>
            {% for blog in blogs %}
            <li>
                <a href="/user/show?username={{ blog.username }}&wid={{ blog.wid }}&op=mine">{{ blog.title }}</a>
            </li>
            {% else %}
            <p>您还没有一篇微博呢，快去写一篇吧</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}