{% extends 'base.html' %}
{% block all %}
<style>
    .a2:link {color: #392f41;}
    .a2:visited {color: #392f41}
    .a2:hover {color: #88ada6;text-decoration: none;}
    .a2:active {color: #f0fcff}
</style>
{% endblock %}

{% block content %}

    <!-- 个人简介 -->
    <div >
        <div name='img' style="float: left;">
            <table class="table table-borderless">
                <tr>
                    <td align="center">
                        <div style="width: 200px;height:200px;">
                            <img style="width: 200px;height:200px;border-radius: 100px;" src="{{ user.photo }}">
                            {% if is_followed %}
                            <a href="/user/follow?fid={{ user.uid }}&check=1">
                            <div style="position: relative;right: 0px;bottom: 0px;">
                                <svg class="bi" width="32" height="32" fill="currentColor" style="color:#f47893;">
                                    <use xlink:href="/static/css/bootstrap-icons.svg#person-check-fill" />
                                </svg>
                            </div>
                            </a>
                            {% else %}
                            <a href="/user/follow?fid={{ user.uid }}&check=0">
                            <div style="position: relative;right: 0px;bottom: 0px;">
                                <svg class="bi" width="32" height="32" fill="currentColor" style="color:#70f3ff;">
                                    <use xlink:href="/static/css/bootstrap-icons.svg#person-plus-fill" />
                                </svg>
                            </div>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">{{ user.username }}</td>
                </tr>
            </table>
        </div>
        <div name='info' style="float: left;width: 50%;margin-left: 100px;">
            <table class='table'>
                <tr>
                    <td colspan="2" align="center">
                        <strong>Ta的个人信息</strong>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 15px;">性别</td>
                    <td style="font-size: 15px;">
                        {% if user.gender == '男' %}小哥哥
                        {% elif user.gender == '女' %}小姐姐
                        {% else %}不能说哦
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 15px;">城市</td>
                    <td style="font-size: 15px;">{{ user.city }}</td>
                </tr>
                <tr>
                    <td style="font-size: 15px;">爱好</td>
                    <td style="font-size: 15px;">{{ user.hobbit }}</td>
                </tr>
                <tr>
                    <td style="font-size: 15px;">简介</td>
                    <td style="font-size: 15px;">{{ user.des }}</td>
                </tr>
                <tr>
                    <td>
                        <svg class="bi" width="32" height="32" fill="currentColor" style="color:#db5a6b;">
                            <use xlink:href="/static/css/bootstrap-icons.svg#emoji-laughing" />
                        </svg>
                        <span>关注人数</span>&nbsp;{{ user.follow }}
                    </td>
                    <td>
                        <svg class="bi" width="32" height="32" fill="currentColor" style="color:#f2be45;">
                            <use xlink:href="/static/css/bootstrap-icons.svg#emoji-sunglasses" />
                        </svg>
                        <span>粉丝人数</span>&nbsp;{{ user.fans }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id='最近更新' class="alert alert-primary" style="width: 100%;clear:both;">
        <p>最近更新</p>
        <ul>
            {% for blog in blogs %}
            <li>
                <a class='a2' href="/user/show?username={{ blog.username }}&wid={{ blog.wid }}&op=mine">{{ blog.content[:10] }}...</a>
                &nbsp;&nbsp;{{ blog.lasttime }}
            </li>
            {% else %}
            <p>这个人很懒，什么都没留下呢</p>
            {% endfor %}
        </ul>
    </div>

{% endblock %}