{% extends 'model.html' %}
{% block content %}
{% if user.photo %}
<img style="width: 200px;height:200px;border-radius: 100px;" src="{{ user.photo }}">
{% else %}
<img style="width: 200px;height:200px;border-radius: 100px;" src="static/img/default.jfif">
{% endif %}
<div>{{ blog.username }}</div>
<h1>{{ blog.title }}</h1>
<pre>
    {{ blog.content }}
</pre>
<div>{{ blog.date }}</div>
{% if op %}
<div>
    <a href="/blog/modify?wid={{ blog.wid }}">
        <button class="btn btn-default">修改我的微博</button>
    </a>
    <a href="/blog/delete?wid={{ blog.wid }}">
        <button class="btn btn-default">删除我的微博</button>
    </a>
</div>
{% else %}
<div>
    <button class="btn btn-default">点赞</button>
</div>
{% endif %}
{% endblock %}