{% extends 'base.html' %}

{% block all %}
<style>
    .a1:link{color: #392f41;}
    .a1:visited{color:#392f41}
    .a1:hover{color: #88ada6;text-decoration: none;}
    .a1:active{color:#f0fcff}
</style>
{% endblock %}

{% block content %}
<div>
    <ul>
        {% for item in data %}
        <li>
            <div class="alert alert-warning">
                <img style="width: 50px;height: 50px;;border-radius: 50px;" src='{{ item.author.photo }}'>
                &nbsp;&nbsp;<strong>{{ item.username }}</strong>&nbsp;&nbsp;{{ item.lasttime }}
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <a class='a1' href="/user/show?username={{ item.username }}&wid={{ item.wid }}&page={{ index }}">
                            <div class="col-6 text-truncate">
                                {{ item.content[:20] | replace('\n','<br>') | safe }}
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-md-1">
                        <svg class="bi" width="25" height="25" fill="currentColor" style="color:#ff4777;">
                            <use xlink:href="/static/css/bootstrap-icons.svg#hand-thumbs-up" />
                        </svg>
                        <span class="align-text-top">{{ item.thumb }}</ class="align-baseline">
                    </div>
                </div>
            </div>
            <hr>
        </li>
        {% else %}
        <p>还没有人发表微博呢</p>
        {% endfor %}
    </ul>
</div>
<div style="position: fixed;right:300px ;bottom: 20px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="/blog/index?page=1" >首页</a>
            </li>
            {% for i in pages %}
            {% if index == i %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="/blog/index?page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="/blog/index?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="/blog/index?page={{ max }}">尾页</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}